.main-container.container-base.container.responsivegrid {

padding: 0 !important;

margin: 0 !important;

}

.root {

width: 100%;

}

div:not(.wrap-container).wcontainer.container.responsivegrid:not([class*="aem-GridColumn--offset--xs-"],

		[class*="aem-GridColumn--offset--sm-"],

		[class*="aem-GridColumn--offset--md-"],

		[class*="aem-GridColumn--offset--lg-"]) {

width: 100%;

padding: 0;

margin: 0;

}

.wcontainer.container.responsivegrid .aem-GridColumn:not(.wrap-container)--xs--none,

.wcontainer.container.responsivegrid .aem-GridColumn:not(.wrap-container)--offset--xs--0,

.wcontainer.container.responsivegrid .aem-GridColumn:not(.wrap-container)--xs--12,

.wcontainer.container.responsivegrid .aem-GridColumn:not(.wrap-container) .cq-Editable-dom .cq-Editable-dom--container {

padding: 0 !important;

}

.wcontainer.container.responsivegrid .aem-GridColumn:not(.wrap-container)[class*="aem-GridColumn--default--"]:not(.wrap-container) {

padding: 0 !important;

}

.wrap-container.container.aem-GridColumn--default--12 {

float: none !important;

}

.wrap-container.container {

padding: 0 15px;

margin: 0 auto;

}

.wrap-container.container:before,

.wrap-container.container:after,

.wrap-container .container-fluid:before,

.wrap-container .container-fluid:after {

display: table;

content: " ";

}

.wrap-container.container:after,

.wrap-container .container-fluid:after {

clear: both;

}

@media (min-width: 768px) {

.wrap-container.container {

	width: 750px !important;

}

}

@media (min-width: 992px) {

.wrap-container.container {

	width: 970px !important;

}

}

@media (min-width: 1200px) {

.wrap-container.container {

	width: 1170px !important;

}

}

.wrap-container .container-fluid {

padding: 0 15px;

margin: 0 auto;

}

.xf-content-height {

margin: 0 !important;

}
